<p id="notice"><%= notice %></p>

<table class= "pure-table pure-table-bordered">
<tr>
  <td><strong>Title:</strong>
  <%= @todo_list.title %></td>
<tr>

<tr>
  <td><strong>Description:</strong>
  <%= @todo_list.description %></td>
</tr>
</table>
<div class="links">
<%= link_to 'Edit', edit_todo_list_path(@todo_list), class: "pure-button" %> 
<%= link_to 'Back', todo_lists_path, class: "pure-button" %>
</div>
